<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.masterwok.xamarin">

    <application>
        <provider
            android:name="mono.MonoRuntimeProvider"
            android:exported="false"
            android:authorities="com.masterwok.XamarinDependency.mono.MonoRuntimeProvider.__mono_init__"
            android:initOrder="2147483647" />

        <receiver
            android:name="mono.android.Seppuku">

            <intent-filter>

                <action
                    android:name="mono.android.intent.action.SEPPUKU" />

                <category
                    android:name="mono.android.intent.category.SEPPUKU.com.masterwok.XamarinDependency" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
